<h1>Reset Password</h1>

<span *ngIf="!isSuccessful">
    <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetPassword()">
        <div class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <div class="form-group">
            <label class="col-md-2 control-label" for="Email">Email</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="email" 
                    name="email"
                    type="text"
                    formControlName="email"
                    required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="Code">Code</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="code" 
                    name="code"
                    type="text"
                    formControlName="code"
                    required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="Password">Password</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="password" 
                    name="password"
                    type="password"
                    formControlName="password"
                    required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="ConfirmPassword">Confirm Password</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="confirmPassword" 
                    name="confirmPassword"
                    type="password"
                    formControlName="confirmPassword"
                    required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </form>
</span>

<span *ngIf="isSuccessful">
    Thank You!
</span>
