<h1>Change Password</h1>

<span *ngIf="!isSuccessful">
    <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="changePassword()">
        <div class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="OldPassword">Old Password</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="oldPassword" 
                    name="oldPassword"
                    type="password"
                    formControlName="oldPassword"
                    required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="NewPassword">New Password</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="newPassword" 
                    name="newPassword"
                    type="password"
                    formControlName="newPassword"
                    required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="ConfirmPassword">Confirm Password</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="confirmPassword" 
                    name="confirmPassword"
                    type="password"
                    formControlName="confirmPassword"
                    required />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change password</button>
            </div>
        </div>
    </form>
</span>

<span *ngIf="isSuccessful">
    Thank You!
</span>