<span *ngFor="let navBarItem of navBarService.navBarItems">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngIf="navBarService.isAdmin">
            <a href="{{navBarService.pathRoot}}"><i class="fas fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item" *ngIf="navBarService.isAdmin">
            <a href="{{navBarService.pathRoot}}/section/{{navBarItem.section.name}}">{{navBarItem.section.name}}</a>
        </li>
        <li class="breadcrumb-item" *ngIf="!navBarService.isAdmin">
            {{navBarItem.section.name}}
            <a href="{{navBarService.pathRoot}}/{{navBarItem.homePath}}"><i class="fas fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item" *ngFor="let breadcrumbNode of navBarItem.breadcrumbNodes; let i = index">
            <a href="{{navBarService.pathRoot}}/{{navBarItem.paths[i]}}">{{breadcrumbNode}}</a>
        </li>
        <li class="breadcrumb-item" *ngIf="navBarItem.section.name > ''" > 
            {{navBarItem.section.name}} 
        </li>

        <span *ngIf="navBarItem.showDropdown">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{navBarItem.section.name}}" aria-expanded="true" aria-controls="collapse1">
                <i class="fas fa-plus" style="padding-left:5px;" aria-hidden="true"></i>
            </a>
        </span>
    </ol>
    <div id="collapse_{{navBarItem.section.name}}" class="collapse" role="tabpanel" aria-labelledby="heading1">
        <div class="flex-row row container">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngFor="let sectionItem of navBarItem.sections">
                <a class="small" href="{{navBarService.pathRoot}}/{{sectionItem.fullpath}}">{{sectionItem.name}}</a>
            </div>
            <br />
        </div>
    </div>
</span>