<h1>Resend Confirmation Email</h1>

<span *ngIf="!isSuccessful">
    <div class="row">
        <div class="col-md-4">
            <form #f="ngForm" novalidate (ngSubmit)="resendConfirmation(f)">
                <div class="text-danger"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</span>

<span *ngIf="isSuccessful">
    Thank You!
</span>