<h1>Resend Confirmation Email</h1>

<span *ngIf="!isSuccessful">
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="resendConfirmationForm" novalidate (ngSubmit)="resendConfirmation()">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Email">Email</label>
                    <div class="col-md-10">
                        <input 
                            class="form-control" 
                            id="email" 
                            name="email"
                            type="text"
                            formControlName="email"
                            required />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</span>

<span *ngIf="isSuccessful">
    Thank You!
</span>