<h1>Forgot Password</h1>

<span *ngIf="!isSuccessful">
    <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="forgotPassword()">
        <div class="text-danger"></div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Email">Email</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="email"
                    name="email"
                    type="email" 
                    validateEmail
                    formControlName="email"
                />
                <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</span>

<span *ngIf="isSuccessful">
    Your password reset link will be sent to you via e-mail.
</span>