<style>
#mainjumbo {
    text-align:center;
    padding:10% 0;
    color: #fff;
    background: url(/assets/images/front.jpg) no-repeat;
    background-size:cover;
    background-position:center;
}
</style>
<div class="jumbotron" id="mainjumbo">
    <div class="card-block">
        <!--
        <h3>Search</h3>
        <input type="text" [(ngModel)]="content" placeholder="type of business or business name" style="width: 18em;margin-bottom: 5px;">
        <input type="text" [(ngModel)]="location" placeholder="suburb or post code" style="width: 18em;margin-bottom: 5px;">
        <button type="submit" class="btn btn-primary" (click)="search()" value="search">Search</button>
        -->

        <a href="/directory"><button type="button" class="btn btn-secondary">Browse Our Directory</button></a>
    </div>
</div>