<h1>Sections</h1>

<ul>
    <li *ngFor="let section of sections">
        <a href="/admin/sections/section/{{section.name}}">{{section.name}}</a>
    </li>
</ul>

<div class="container">
    <div class="form-group row">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="section.name" name="name" class="form-control" />
    </div>
    <div class="form-group row">
        <label for="name">Modules (leave blank for primary section)</label>
        <input type="text" [(ngModel)]="section.modules" name="modules" class="form-control" />
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary" (click)="addSection()" value="add">Add Section</button>
    </div>
</div>
