<h1>User Admin</h1>

<div class="btn-group">
    <a href="/admin/users/add" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>  Add User
    </a>
</div>
<div class="top-buffer"></div>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Email</th>                   
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>                        
            <td>
                <a href="/admin/users/edit/{{user.id}}"
                    class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil"></i>  Edit
                </a>
                <a href="/admin/users/delete/{{user.id}}" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>  Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>
