<h1>Sign In</h1>

<!--
<div class="row">
    <div class="col">
        <section>
            <p>Use service to log in.</p>                   
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                else
                    <form method="post" method="post" class="form-horizontal" action="/api/Account/Login">
                        <div>
                            <p *ngFor="let provider of loginProviders">
                                @foreach (var provider in loginProviders)
                                <button type="submit" class="btn btn-primary" name="provider" value="{{provider.Name}}" title="Log in using your {{provider.DisplayName}} account">{{provider.DisplayName}}</button>
                            </p>
                        </div>
                    </form>
        </section>
    </div>
</div>
<hr />
-->
<div class="alert alert-danger" role="alert" *ngIf="errors['']">
    <ul>
        <li *ngFor="let error of errors['']">
            {{ error }}
        </li>
    </ul>
</div>

<div class="row">
    <div class="col">
        <section>
            <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
                <p>Use a local account to log in.</p>
                <div class="text-danger"></div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Email">Email</label>
                    <div class="col-md-10">
                        <input 
                            class="form-control" 
                            id="email"
                            name="email"
                            type="email" 
                            validateEmail
                            ngModel  
                            formControlName="email"
                        />
                        <!--
                        data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" value="" />
                        -->
                        <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                </div>
                
                <div class="alert alert-danger" role="alert" *ngIf="errors['Email']">
                    <ul>
                        <li *ngFor="let error of errors['Email']">
                            {{ error }}
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Password">Password</label>
                    <div class="col-md-10">
                        <input 
                            class="form-control" 
                            id="password"
                            name="password"
                            type="password"
                            ngModel
                            formControlName="password"
                        />
                        <!--
                            data-val="true" data-val-required="The Password field is required." id="Password" name="Password" />
                        -->
                        <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="errors['Password']">
                    <ul>
                        <li *ngFor="let error of errors['Password']">
                            {{ error }}
                        </li>
                    </ul>
                </div>
                        <!--
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label for="RememberMe">
                                <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" value="true" />
                                Remember me?
                            </label>
                        </div>
                    </div>
                </div>
                -->
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </div>
                
                <p>
                    <a href="/account/register">Register as a new user?</a>
                </p>
                <p>
                    <a href="/account/resend-confirmation">Resend confirmation email?</a>
                </p>
                <p>
                    <a href="/account/forgot-password">Forgot your password?</a>
                </p>

            </form>
        </section>
    </div>
</div>
